/* רווחים בין השדות */
.mat-form-field + .mat-form-field/*,
.mat-raised-button */{
  margin-left: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }


/*Mat Card */
  .example-card {
    max-width: 600px;
    font-size: 12px;
  }


  .example-card {
        background-color: gainsboro; /* slategray; */
      }



 
      
      /* .flex-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;


        background-color: DodgerBlue;
      }
      
      .flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      } */
      
     
     
      .flex-container {
        /* We first create a flex layout context */
        display: flex;
        
        /* Then we define the flow direction 
           and if we allow the items to wrap 
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: row wrap;
        
        /* Then we define how is distributed the remaining space */
        justify-content:  flex-end; /*space-around;*/
        
        padding: 0;
        margin: 0;
        list-style: none;
      }
      
      .flex-item {
        background:greenyellow;
        padding: 5px;
        width: 200px;
        height: 150px;
        margin-top: 10px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
      }

      /* Wrapper */
      .wrapper {
        display: flex;  
        /*flex-flow: row wrap;
        font-weight: bold;
        text-align: center;*/
        width: 240px;
        height: 240px;
        flex-direction: column;
        flex-wrap: wrap;

      }
      
      .wrapper > * {
        padding: 10px;
        flex: 1 1 80px;/*1 100%;*/
      }
      /* .box {
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box>* {
        flex: 1 1 80px;
    } */
    .wrapper5 {
      display: flex;  
      /*flex-flow: row wrap;
      font-weight: bold;
      text-align: center;*/
      width: 200px;
      height: 200px;
      flex-direction: column;
      flex-wrap: wrap;

    }
    
    .wrapper5 > * {
      padding: 10px;
      flex: 1 1 80px;/*1 100%;*/
    }

      
      /*.header {
        background: tomato;
      }
      
      .footer {
        background: lightgreen;
      }*/
      
      .main {
        text-align: left;
        background: greenyellow;
      }
      
      .aside-1 {
        background: gold;
      }
      
      .aside-2 {
        background: hotpink;
      }
      
      @media all and (min-width: 600px) {
        .aside { flex: 1 0 0; }
      }
      
      @media all and (min-width: 800px) {
        .main    { flex: 3 0px; }
        .aside-1 { order: 1; } 
        .main    { order: 2; }
        .aside-2 { order: 3; }
        .footer  { order: 4; }
      }
      
      body {
        padding: 2em; 
      }



      .box {
        display: flex;
      }
      .box>* {
        flex: 1 1 200px;
      }
      .hide {
        visibility: collapse;
      }
  
      
